* {
  margin: 0;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
  border-bottom: 1px solid black;
}

.nav-list li a {
  text-decoration: none;
  color: inherit;
}

.tool-list {
  margin: 2rem;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  align-items: center;
}

.tool-box {
  width: 90%;
  margin-top: 2rem;
}

.tool-info {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid white;
}

.tool-info p:nth-child(1) {
  width: 100px;
}
.tool-info p:nth-child(2) {
  width: 300px;
}
.tool-info p:nth-child(3) {
  width: 1000px;
}
