/* Cascading Style Sheet */
/* 선택자(selector) */

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.center-align {
    margin: 0 auto; 
    width: 1080px;
}

#header-top span{
    color: #888;
    letter-spacing: -1px;
    font-size: 11px;
    line-height: 22px;
}
#header-search {
    clear: both;
}

#header-search a {
    text-decoration: none;
}

#header-search > h1 {
    width: 214px;
    height: 50px;
    display: inline-block;
    background-image: url(./sp_naver.png);
    background-position: 4px -149px;
    background-size: 421px 405px;
    background-repeat: no-repeat;
    text-indent: 100%;
    overflow: hidden;
    vertical-align: middle;
    position: relative;  
    top: -7px;
}

#header-search h2 {
    display: none;
}

#header-search fieldset{
    margin-left: 20px;
    padding: 12px 0px 12px 10px;
    width: 521px;
    height: 49px;
    display: inline-block;
    border: 2px solid #03cf5d; /* hex */
    vertical-align: middle;
    position: relative;
}

#header-search fieldset input {
    border: none;
    padding: 0;
    outline: none;
    width: 444px;
    height: 24px;
    vertical-align: top;
}


#header-search fieldset button {
    width: 49px;
    height: 49px;
    border: none;
    padding: 0;
    background: #03cf5d;
    position: absolute;   /* 컨테이닝 블록 : 자신의 조상중에 static이 아닌 조상을 기준으로 absolute가 적용된다 */
    right: -2px;
    top: -2px;
    
}

#search-img{
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url(./sp_naver.png);
    background-position: -420px -24px;
    background-repeat: no-repeat;
    background-size: 442px 428px;
}
nav#center-align {
    position: relative;
}
#nav-live{
    display: inline-block;
    margin: 0;
    position: absolute;
    right: 0px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

nav li {
    display: inline-block;
}

nav li span:first-child{
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(./sp_nav.png);
    margin-left: 14px;
}

nav li:first-child span:first-child{
    width: 25px;
    background-position: 0 -285px;
    margin-left: 0;
}

nav li:nth-child(2) span:first-child{
    width: 28px;
    background-position: -278px -52px;
}

nav li:nth-child(3) span:first-child{
    width: 42px;
    background-position: -98px -182px;
}

nav li:nth-child(4) span:first-child{
    width: 44px;
    background-position: -98px -156px;
}

nav li:nth-child(5) span:first-child{
    width: 28px;
    background-position: -278px -156px;
}

nav li:nth-child(6) span:first-child{
    width: 29px;
    background-position: -69px -285px;
}

#header-top {
    float: right;
}