/* Cascading Style Sheet */
/* 선택자(selector) */

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

.inline-block {
    display: inline-block;
}

.float-left{
    float:left;
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.relative {
    position: relative;
}
.center-align {
    margin: 0 auto; 
    width: 1080px;
}


header {
    height: 170px;
}

#header-top span{
    color: #888;
    letter-spacing: -1px;
    font-size: 11px;
    line-height: 22px;
}
#header-search {
    clear: both;
    padding-top: 45px;
}

#header-search a {
    text-decoration: none;
}

#header-search h1 {
    width: 214px;
    height: 50px;
    display: inline-block;
    background-image: url(./sp_naver.png);
    background-position: 4px -149px;
    background-size: 421px 405px;
    background-repeat: no-repeat;
    text-indent: 100%;
    overflow: hidden;
    vertical-align: middle;
    position: relative;  
    top: -7px;
}

#header-search h2 {
    display: none;
}

#header-search fieldset{
    margin-left: 18px;
    padding: 12px 0px 12px 10px;
    width: 521px;
    height: 49px;
    display: inline-block;
    border: 2px solid #03cf5d; /* hex */
    vertical-align: middle;
    position: relative;
}

#header-search fieldset input {
    border: none;
    padding: 0;
    outline: none;
    width: 444px;
    height: 24px;
    vertical-align: top;
}


#header-search fieldset button {
    width: 49px;
    height: 49px;
    border: none;
    padding: 0;
    background: #03cf5d;
    position: absolute;   /* 컨테이닝 블록 : 자신의 조상중에 static이 아닌 조상을 기준으로 absolute가 적용된다 */
    right: -2px;
    top: -2px;
}

#search-keyboard{
    position: absolute;
    right: 70px;
    top: 15px;
    background-position: -398px -267px;
    background-repeat: no-repeat;
    background-image: url(./sp_naver.png);
    background-size: 442px 428px;
    width: 20px;
    height: 12px;
    display: inline-block;
    margin: 0 6px;
    vertical-align: middle;

}

#search-history {
    position: absolute;
    right: 50px;
    top: 20px;
    background-position: -158px -151px;
    background-repeat: no-repeat;
    background-image: url(./sp_naver.png);
    background-size: 442px 428px;
    width: 9px;
    height: 4px;
    display: inline-block;
    margin: 0 6px;
    vertical-align: middle;
}

#search-img{
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url(./sp_naver.png);
    background-position: -420px -24px;
    background-repeat: no-repeat;
    background-size: 442px 428px;
}
nav#center-align {
    position: relative;
}

nav {
    height: 46px;
    border-top: 1px solid #f1f3f6;
    border-bottom: 1px solid #d1d8e4;
}

nav ul {
    margin: 0;
    padding: 16px 0 0 4px;
    list-style: none;
    display: inline-block;
}

#nav-menu li {
    display: inline-block;
}

#nav-menu li span:first-child{
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(./sp_nav.png);
    margin-left: 10px;
}

#nav-menu li:first-child span:first-child{
    width: 25px;
    background-position: 0 -285px;
    margin-left: 0;
}

#nav-menu li:nth-child(2) span:first-child{
    width: 28px;
    background-position: -278px -52px;
}

#nav-menu li:nth-child(3) span:first-child{
    width: 42px;
    background-position: -98px -182px;
}

#nav-menu li:nth-child(4) span:first-child{
    width: 44px;
    background-position: -98px -156px;
}

#nav-menu li:nth-child(5) span:first-child{
    width: 28px;
    background-position: -278px -156px;
}

#nav-menu li:nth-child(6) span:first-child{
    width: 29px;
    background-position: -69px -285px;
}

#nav-menu li:nth-child(7) span:first-child{
    width: 41px;
    background-position: -124px -131px;
}

#nav-menu li:nth-child(8) span:first-child{
    width: 32px;
    background-position: -277px -207px;
}

#nav-menu li:nth-child(9) span:first-child{
    width: 31px;
    background-position: -127px -103px;
}

#nav-menu li:nth-child(10) span:first-child{
    width: 29px;
    background-position: -35px -259px;
}

#nav-menu li:nth-child(11) span:first-child{
    width: 41px;
    background-position: -151px -156px;
}

#nav-menu li:nth-child(12) span:first-child{
    width: 28px;
    background-position: -279px -130px;
}

#nav-menu li:nth-child(13) span:first-child{
    width: 29px;
    background-position: -234px -233px;
}

#nav-menu li:nth-child(14) span:first-child{
    width: 30px;
    background-position: -71px -258px;
}

#nav-menu li:nth-child(15) span:first-child{
    width: 19px;
    background-position: -140px -78px;
}

#nav-menu li:nth-child(16) span:first-child{
    width: 28px;
    background-position: -279px 0px;
}

nav li.more:first-child span:first-child{
    width: 63px;
    background-position: 1px -103px;
}

#header-top {
    float: right;
}

.nav-divider {
    display: inline-block;
    margin: 18px 16px 0;
    width: 1px;
    height: 14px;
    background: #ebeef3;
}
#search-ranking {
    position: absolute;
    top:14px;
    right: 0px;
    width: 198px;
    height: 20px;
}
/* z-index 와 쌓임맥락 */
#search-ranking:hover ul{
    display: inline-block;
}

#search-ranking ul{
    display: none;
    list-style: none;
    padding: 17px;
    margin: 0;
    width: 332px;
    height: 334px;
    border: 1px solid #aaa;
    background: white;
    position: absolute;
    top: -15px;
    right: 0;
}

#rank-number {
    margin-top: -9px;
    color: #00ab33;
    font-size: 16px;
}

#rank-title{
    letter-spacing: -1px;
    font-size: 14px;
}

main {
    background-color: #f2f4f7;
    display: inline-block;
    width: 100%;
}

#main-centered {
    padding: 8px 10px ;
    width: 1100px;
}
#main-first-block{
    display: inline-block;
    vertical-align: top;
    width:100%;
}
#main-ad {
    display: inline-block;
    width: 740px;
    height: 120px;
    background: #555;
    margin-right: 8px;
    margin-bottom: 8px;
    float: left;
}

#main-login {
    display: inline-block;
    width: 332px;
    height: 120px;
    vertical-align: top;
    background-color: white;
    margin-bottom: 8px;
    float: left;
}

#main-login .login-wrapper{
    padding: 15px 25px;
}

#main-login .login-wrapper a{
    display: block;
}

#main-login .login-text{
    color: #888;
    font-size: 12px;
    line-height: 14px;
}

#main-login .login-image{
    background: url(./sp_login.png) 0 -47px no-repeat;
    display: inline-block;
    width: 280px;
    height: 37px;
}

#main-login .login-signup{
    float: right;
    font-size: 12px;
    line-height: 38px;
    color: #666;
    text-decoration: none;
    margin-top: 12px;
}

#main-login .login-signup:hover {
    text-decoration: underline;
}

#main-second-block {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 8px;
}
#main-second-block .float-left:first-child{
    width: 740px;
    margin-right: 8px;
}

#main-second-block .float-left:last-child{
    width: 332px;
    vertical-align: top;
}
#main-ytn {
    display: inline-block;
    width: 740px;
    height: 46px;
    background-color: white;
    margin-bottom: 8px;
}

#main-ytn h3, 
#main-ytn ol {
    display: inline-block;
}

#main-newsstand{
    display: inline-block;
    width: 740px;
    height: 246px;
    background-color: white;
    margin-right: 8px;
    vertical-align: top;
}

#main-newsstand h3 {
    height: 45px;
    border-bottom: 1px solid #ebeef3
}

#main-newsstand ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}

#main-newsstand li {
    float: left;
    width: calc(100% / 6);
    height: 67px;
    border-right: 1px solid #f1f3f6;
    border-bottom: 1px solid #f1f3f6;
    text-align: center;

}

#main-newsstand li img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#main-weather {
    display: inline-block;
    width: 332px;
    height: 142px;
    background-color: white;
    margin-bottom: 8px;
    vertical-align: top;
}

#main-second-ad{
    display: inline-block;
    width: 332px;
    height: 150px;
    background: #555;
    margin-bottom: 8px;
    vertical-align: top;
}

#main-category{
    float:left;
    width: 740px;
    height: 882px;
    background: white;
    margin-bottom: 8px;
    margin-right: 8px;
}

#main-shopping{
    float:left;
    width: 330px;
    height: 882px;
    background: white;
    margin-bottom: 8px;
}

#main-shopping iframe {
    width: 100%;
    height: 100%;
}
#main-third-block,
#main-fourth-block {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

#main-event{
    float:left;
    width: 740px;
    height: 130px;
    background: white;
    vertical-align: top;
    margin-right: 8px;
}

#main-third-ad{
    float:left;
    width: 330px;
    height: 130px;
    background: #555;
}