body,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

main {
  background-color: lightgray;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 5%;
  margin-bottom: 10%;
  width: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

.profile {
  display: flex;
  align-items: center;
}
.name {
  font-weight: 700;
}
.time {
  color: gray;
}

.profile * {
  margin-right: 5px;
}

.profile-bar i {
  margin-right: 15px;
}

.icon-menu {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.icon-menu div i {
  margin-right: 5px;
}

.icon-menu > i {
  margin-top: 8px;
}

.content {
  padding: 5px 10px;
}

.content span {
  font-weight: 700;
  margin-right: 8px;
  font-size: 1.1rem;
}

.content {
  font-size: 0.9rem;
}

.comment {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.comment > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
}

.comment > div div {
  display: flex;
  align-items: center;
}

.comment * {
  margin-right: 8px;
}

.comment p {
  font-size: 0.9rem;
}

.comment > div button {
  cursor: pointer;
  color: gray;
  font-size: 0.8rem;
  margin-right: 15px;
  background-color: white;
  border: 0;
}

.comment-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.comment-input {
  border: 0;
  margin-left: 10px;
}

.comment-bar button {
  background-color: white;
  border: 0;
  color: rgb(104, 94, 236);
  margin-right: 10px;
}
