/* @import "reset.css"; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#timer-box {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin: 5% 25%;
}

#time {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  font-size: 10rem;
}

.btn {
  width: 300px;
}

#time h1 {
  width: 100px;
}

#time #second,
#time #milli {
  width: 400px;
}

#btns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.btn {
  font-size: 3rem;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 10px;
}

#record-list {
  margin-top: 4rem;
  margin: 5% 25%;
  border: 1px solid black;
}

#record-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 2rem;
}

#record-box input {
  width: 40px;
}

#record-box button {
  width: 40px;
}

#record-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 2rem;
}

#records {
  display: flex;
  flex-direction: column;
}

.record {
  width: 57%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

.record-time-box {
  display: flex;
}
